.pagination {
    display: flex;
        justify-content: center;
        padding: 27px 0;

        button {
            background: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
            }

            &.right {
                transform: rotate(180deg);
                transform-origin: center;
            }
        }

        p {
            color: white;
            margin: 0 24px;
        }
}