@import 'assets/styles/vars';

.search {
    display: flex;
    justify-content: space-between;

    &__filter {
        position: relative;
        display: flex;

        input {
            font-size: 18px;
            margin: 0 25px;
            background: transparent;
            border: none;
            width: 100%;
            color: $blue;
            font-weight: 400;

            &::placeholder {
                color: $grey;
            }
        }

        label {
            position: absolute;
            background: url('../../assets/images/search.svg') no-repeat center;
            top: 2px;
            left: 0;
            width: 16px;
            height: 16px;
        }
    }
}